* {
  padding: 0px;
  margin: 0px;
}

.header {
  display: flex;
  justify-content: center;
  background-color: #88a9fc;
  height: 55px;
  border: transparent;
  box-shadow: 0px 0px 3px black;
}

.navbar {
  display: flex;
  justify-content: center;
  flex-direction: row;
  box-shadow: 0px 0px 3px black;
  background-color: white;
  height: 50px;
}

.favoritos {
  position: relative;
}

.favoritos,
.livros {
  text-decoration: none;
  color: black;
  position: relative;
  top: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.favoritos:hover {
  transition: 0.7s;
  background-color: #c7c7c7;
}

.livros:hover {
  transition: 0.7s;
  background-color: #c7c7c7;
}

.titulo {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

.t {
  position: relative;
  top: 15px;
}
